 header {
  background-color: $dark-nav;
  position: fixed;
  width: 100vw;
  height: 102px;
  z-index: 3000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    .logo-img {
      width: 51%;
      @media (max-width: 660px) {
        max-width: 51%;
      }

      @media (max-width: 578px) {
        max-width: 51%;
      }
    }
  }

  .menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      display: flex;
      margin-left: -39vh;

      .nav-links {
        font-weight: 400;
        padding: 5px 10px;
        border-radius: 5px;
        transition-duration: 0.3s;
        letter-spacing: 1px;
        color: white;
        &:hover {
          color: #44d1df;
        }
      }
    }
  }

  .header-icons {
    height: 28px;
    width: 130px;
    min-width: 130px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      order: 2;
      height: 25px;
      max-width: 100px;
    }

    @media (max-width: 400px) {
      min-width: 90px;
      width: 90px;
    }

    .icon {
      width: 28px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.15);
      }

      .icon-img {
        width: 100%;
        height: 100%;
        transition-duration: 0.3s;
      }
    }
  }
}

@media (max-width: 768px) {
  .header-content {
    .navbar {
      display: none;
    }

    .menu-section {
      order: 3;
    }
  
    .menu-toggle {
      width: 30px;
      height: 26px;
  
      @media (max-width: 400px) {
        width: 5vh;
      }
  
      .one, .two, .three {
        width: 100%;
        height: 1px;
        background-color: $white;
        margin-top: 6px;
        transition-duration: 0.3s;
      }
    }

    .menu-section.on {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 50vh;
      background-color: $dark-nav;
      z-index: 1600;
  
      .navbar {
        display: block;
        z-index: 11;
  
        .nav-list {
          flex-direction: column;
          text-align: center;
  
          .nav-links {
            font-size: 2vh;
            line-height: 3rem;
            margin-left: 37vh;
          }
        }
      }
  
      .menu-toggle {
        position: absolute;
        top: 38px;
        right: 20px;
  
        .one {
          transform: rotate(45deg) translate(6px, 7px);
        }
  
        .two {
          opacity: 0;
        }
  
        .three {
          transform: rotate(-45deg) translate(3px, -4px);
        }
      }
    }
  }
}