.product-bg {
  position: relative;
  width: 90%;
  background-color: #997d00;
  border-radius: 0vh 1vh 1vh 0vh;

  .product-text {
    display: flex;
    align-items: center;
    padding: 60px 0;
    max-width: 676px;
    color: white;

    @media (max-width: 1260px) {
      padding-bottom: 80px;
      padding-top: 80px;
    }

    @media (max-width: 678px) {
      flex-direction: column;
      text-align: center;
    }

    .dressmaker-img {
      display: block;
      object-fit: cover;
      height: 450px;
      width: 330px;
      margin-right: 60px;
      border-radius: 1vh;

      @media (max-width: 678px) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    .call-button {
      margin-top: 25px;
      font-size: 16px;
      font-weight: bold;
      background-color: #181818;
      border:none;
      color:#fff;
      border-radius: 5px;
      padding: 10px 30px;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        color: $white;
        background-color: grey;
      }
    }
  }
}

.mySlides {
  display: none;
}

.mySlides img{
  border-radius: 1vh;
  -webkit-box-shadow: -5px 4px 20px #181818e0;
  -moz-box-shadow:    -5px 4px 20px #181818e0;
  box-shadow:         -5px 4px 20px #181818e0;
}

.slideshow-container {
  max-width: 45vh;
  position: absolute;
  margin: auto;
  margin-left: 135vh;
  bottom: 11%;

  @media only screen and (max-width: 1024px) {
      width: 29%;
      position: absolute;
      margin: auto;
      margin-left: 74%;
      bottom: 10vh;
  }
  
  @media only screen and (max-width: 1200px) {
      width: 100%;
      position: absolute;
      margin: auto;
      margin-left: 71%;
      bottom: 20vh;
  }
  @media only screen and (max-width: 1059px) {
      width: 90%;
      position: absolute;
      margin: auto;
      margin-left: 75%;
      bottom: 20vh;
  }
  @media only screen and (max-width: 1024px) {
      width: 30%;
      position: absolute;
      margin: auto;
      margin-left: 74%;
      bottom: 6vh;
  }
  
  @media only screen and (max-width: 1000px) {
      display: inline-block;
      width: 100%;
      position: relative;
      margin: auto;
      margin-left: 28%;
      bottom: 5vh;
  }
  @media only screen and (max-width: 700px) {
      display: inline-block;
      width: 100%;
      position: relative;
      margin: auto;
      margin-left: 28%;
      bottom: 5vh;
  }
  @media only screen and (max-width: 768px) {
      display: inline-block;
      width: 65%;
      position: relative;
      margin: auto;
      margin-left: 18%;
      bottom: 5vh;
  }
  @media only screen and (max-width: 680px) {
      display: inline-block;
      width: 65%;
      position: relative;
      margin: auto;
      margin-left: 28%;
      bottom: 5vh;
  }
  
  @media only screen and (max-width: 540px) {
      display: inline-block;
      width: 65%;
      position: relative;
      margin: auto;
      margin-left: 21%;
      bottom: 5vh;
  }
  @media only screen and (max-width: 411px) {
      display: inline-block;
      width: 65%;
      position: relative;
      margin: auto;
      margin-left: 17%;
      bottom: 5vh;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
